[user]
  name = John Dough
  email = john@dough.doh
  signingkey = D34DB33F
[github]
  user = jdough
  token = secret
[credential]
  helper = store
[core]
  editor = vim
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[color]
  ui = auto
[grep]
  lineNumber = true
[commit]
  gpgsign = true
[push]
  default = simple
[alias]
  a = add
  b = branch
  c = commit
  d = diff
  f = fetch
  g = grep
  l = log
  s = status
  ac = !git add -A . && git commit
  cm = commit -m
  co = checkout
  cp = cherry-pick
  po = push origin
  st = stash
  acm = !git add -A . && git commit -m
  cob = checkout -b
  cod = checkout develop
  com = checkout master
  cot = checkout test
  fup = fetch upstream
  pod = push origin develop
  poh = push origin HEAD
  pom = push origin master
  pot = push origin test
  rup = remote add upstream
  amend = commit --amend -m
