# .gitignore
# Lloyd Dilley
# https://github.com/ldilley/dotfiles

# Archives
*.7z
*.gz
*.bz2
*.rar
*.tar
*.tgz
*.xz
*.zip

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake

# Compiled objects
*.o
*.obj

# Libraries
*.a
*.la
*.lo
*.so
*.dll
*.dylib
*.lai
*.lib

# Pre-compiled headers
*.gch
*.pch

# Android
*.apk
*.dex

# Elixir bytecode
*.beam

# Java
*.class
*.jar
*.war

# Python bytecode
*.pyc

# Linux and Unix
*.core
*.swp

# macOS
*.app
*.dmg

# DOS and Windows
*.com
*.exe
*.msi

# Crypto
*.cer
*.crl
*.crt
*.csr
*.der
*.key
*.p12
*.p7b
*.pem
*.pfx
*.cert

# Other binaries
*.ko
*.bin

# Other text
*.log
*.out
*.pid
*.lock

# Exclude these directories
bin/
bld/
build/
log/
logs/
obj/
tmp/
